<!doctype HTML>
<html>
	<head>
		<title>WD Billing</title>
		<meta name="author" content="Ron Patterson, ASD20">
		<link type="text/css" rel="stylesheet" href="css/wd_billing.css" title="bt styles">
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="js/wd_billing.js"></script>
		<style type="text/css">
			button:hover { font-weight: bold; }
		</style>
	</head>
	<body background="" bgcolor="#e0e0e0">
		<div id="wdb_header">
			<table>
			<tr><td><img src="images/WD_Billing.png" alt="WD Billing">Powered by <a href="http://www.mongodb.org/"><img src="images/mongodb-logo-web.png" alt="MongoDB" width="144" height="42"></a></td><td width="30">&nbsp;</td>
			<td valign="middle"><font size="+1"><b>WD Billing</b></font></td></tr>
			</table><br>
			<input type="hidden" name="usernm" value="Patterson, Ron" id="usernm" />
			<input type="hidden" name="userid" value="rlpatter" id="userid" />
			<input type="hidden" name="bid" id="bid" value="">
			<input type="hidden" name="bug_id" id="bug_id" value="">
		</div>
		
		<div id="wdb_menu">
			<div id="wdb_button_div">
				<span id="wdb_refresh_btn">Refresh List</span>
				<span id="wdb_add_btn">Add New Project</span>
				<span id="wdb_contacts_btn">Contacts</span>
				<span id="wdb_clients_btn">Clients</span>
				<span id="wdb_admin_btn">Admin</span>
				<span id="wdb_help_btn">Help</span>
			</div>
		</div>

		<div id="wdb_maincontent">

			<div id="wdb_projects_list" style="display: none;">
				<p>Click on Show to see details. Click column title to sort.</p>
				<div style="width: 750px;">
				<table id="wdb_tbl" class="display" border="1" cellspacing="0" cellpadding="3" width="100%">
					<thead>
					<tr>
					<th>ID</th><th>Description</th><th>Date entered</th><th>Status</th><th>&nbsp;</th>
					</tr>
					</thead>
				</table>
				</div>
			</div>

			<div id="wdb_users_search" style="display: none;">
				<form name="wdb_form9" id="wdb_form9">
					<h5>You can search on any of the fields listed below. The more
					information you fill in, the narrower the search becomes.
					<input type="hidden" name="bid" value=""></h5>
					<fieldset>
						<legend>WD Billing Assignment Search</legend>
						<label for="lname">Last Name:</label>
						<div class="fields2"><input type="text" name="lname" id="lname" size="22"></div><br class="clear">
						<label for="fname">First Name:</label>
						<div class="fields2"><input type="text" name="fname" id="fname" size="22"></div><br class="clear">
						<label>&nbsp;</label>
						<div class="fields2"><input type="submit" name="find" value="Start Search">
						<input type="reset"></div><br class="clear">
						<table id="wdb_user_assign_tbl" class="display" border="1" cellspacing="0" cellpadding="2" width="100%">
							<thead>
							<tr>
							<th>UID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Roles</th>
							<th>Act</th>
							<th>&nbsp;</th>
							</tr>
							</thead>
						</table>
					</fieldset>
				</form>
			</div>

			<div id="wdb_project_show_edit" style="display: none;">
				<div id="projshow_div" class="projform" style="display: none;">
					<fieldset>
						<legend>WD Billing Project Record</legend>
						<label>ID:</label>
                        <div class="fields2"><span id="bug_id2_v"></span></div><br class="clear">
						<label>Group:</label>
						<div class="fields2"><span id="group_v"></span></div><br class="clear">
						<label>Description:</label>
						<div class="fields2"><span id="descr_v"></span></div><br class="clear">
						<label>Product or Application:</label>
						<div class="fields2"><span id="product_v"></span></div><br class="clear">
						<label>Bug Type:</label>
						<div class="fields2"><span id="wdb_v"></span></div><br class="clear">
						<label>Status:</label>
						<div class="fields2"><span id="status_v"></span></div><br class="clear">
						<label>Priority:</label>
						<div class="fields2"><span id="priority_v"></span></div><br class="clear">
						<label>Comments:</label>
						<div class="fields2"><span id="comments_v"></span></div><br class="clear">
						<label>Solution:</label>
						<div class="fields2"><span id="solution_v"></span></div><br class="clear">
						<label>Attachments:</label>
						<div class="fields2"><div id="filesDiv"></div> <input type="button" id="wdb_assign_btn1" value="Attach File" onclick="return bt.attach_file();"></div><br class="clear">
						<label>Entry By:</label>
						<div class="fields2"><span id="ename_v"></span></div><br class="clear">
						<label>Assigned To:</label>
						<div class="fields2"><div id="assignedDiv1"><a href="mailto:"><span id="edit_v"></span></a></div> <input type="button" id="wdb_assign_btn1" value="Assign" onclick="return bt.assign_search();"></div><br class="clear">
						<label>Entry Date/Time:</label>
						<div class="fields2"><span id="edtm_v"></span></div><br class="clear">
						<label>Update Date/Time:</label>
						<div class="fields2"><span id="udtm_v"></span></div><br class="clear">
						<label>Closed Date/Time:</label>
						<div class="fields2"><span id="cdtm_v"></span></div><br class="clear">
					</fieldset>
					<br>
					<div align="center" id="wdb_show_buttons">
						<span onclick="return wdb.edit_project(event);">Edit Project</span>
						<span onclick="return wdb.delete_project(event);">Delete Project</span>
						<span onclick="return wdb.show_email(event);">Email Project</span>
						<span onclick="return wdb.add_worklog(event);">Add Worklog</span>
					</div>
					<br>
					<fieldset>
					<legend>Project Worklog</legend>
					<div id="wdb_worklog_div"></div>
					</fieldset>
				</div>

				<div id="projedit_div" class="projform" style="text-align: left; width: 580px; display: none;">
					<form name="wdb_form1" id="projedit_form1"><br>
					<input type="hidden" name="oldstatus" id="oldstatus" value="">
					<fieldset>
						<legend> WD Billing Record </legend>
						<label>ID:</label>
						<div class="fields2"><span id="bugedit_id"></span></div><br class="clear">
						<label for="group"><span class="required">*</span>Group:</label>
						<div class="fields2"><span id="wdb_grp"></span></div><br class="clear">
						<label for="descr"><span class="required">*</span>Description:</label>
						<div class="fields2"><input type="text" name="descr" size="40" value=""></div><br class="clear">
						<label for="product"><span class="required">*</span>Product or Application:</label>
						<div class="fields2"><input type="text" name="product" size="40" value=""></div><br class="clear">
						<label for="bug_type"><span class="required">*</span>Bug Type:</label>
						<div class="fields2"><span id="btypes_s"></span></div><br class="clear">
						<label for="status">Status:</label>
						<div class="fields2"><span id="status_s"></span></div><br class="clear">
						<label for="priority"><span class="required">*</span>Priority:</label>
						<div class="fields2"><span id="priority_s"></span></div><br class="clear">
						<label for="comments"><span class="required">*</span>Comments:</label>
						<div class="fields2"><textarea name="comments" rows="4" cols="40" wrap="virtual"></textarea></div><br class="clear">
						<label for="solution">Solution:</label>
						<div class="fields2"><textarea name="solution" rows="4" cols="40" wrap="virtual"></textarea></div><br class="clear">
						<label>Assigned To:</label>
						<div class="fields2"><div id="assignedDiv2"></div><!--<input type="button" id="wdb_assign_btn2" value="Assign" onclick="return bt.assign_search();">--></div><br class="clear">
						<label>Entry Date/Time:</label>
						<div class="fields2"><span id="edtm" class="wdb_date"></span></div><br class="clear">
						<label>Update Date/Time:</label>
						<div class="fields2"><span id="udtm" class="wdb_date"></span></div><br class="clear">
						<label>Closed Date/Time:</label>
						<div class="fields2"><span id="cdtm" class="wdb_date"></span></div><br class="clear">
						<label>&nbsp;</label>
						<div class="fields2"><input type="submit" value="SAVE"> <input
				 type="button" id="wdb_proj_edit_cancel" value="Cancel"></div><br class="clear">
					</fieldset>
					</form>
					<br>
					<div class="required" style="font-size: 9pt;" align="center">* Required fields</div>
					<div id="projedit_errors"></div>
				</div>
			</div>

			<div id="wdb_worklog_form" class="projform" style="display: none;">
				<form id="wdb_form2" name="wdb_form2" method="post"><br>
				<fieldset>
					<legend>WD Billing Worklog Record</legend>
					<label>ID:</label>
					<div class="fields2"><span id="wdb_wl_bug_id"></span></div><br class="clear">
					<label>Description:</label>
					<div class="fields2"><span id="wdb_wl_descr"></span></div><br class="clear">
					<label>Bug Comments:</label>
					<div class="fields2"><span id="wdb_bug_comments"></span></div><br class="clear">
					<label>Public:</label>
					<div class="fields2"><label class="yesno"><input type="radio" name="wl_public" value="y">Yes</label> <label class="yesno"><input type="radio" name="wl_public" value="n">No</label></div><br class="clear">
					<label for="comments"><span class="required">*</span>Worklog Comments:</label>
					<div class="fields2"><textarea name="wl_comments" rows="10" cols="40" wrap="virtual"></textarea></div><br class="clear">
					<label>Entry By:</label>
					<div class="fields2"><span id="wdb_wl_ename"></span></div><br class="clear">
					<label>Bug Entry Date/Time:</label>
					<div class="fields2"><span id="wdb_wl_entry_dtm"></span></div><br class="clear">
					<label>&nbsp;</label>
					<div class="fields2"><input type="submit" value="SAVE"> <input type="button" id="cancel2" value="Cancel"></div><br class="clear">
				</fieldset>
				</form>
				<br>
				<div class="required" style="font-size: 9pt;" align="center">* Required fields</div>
				<div id="wl_errors"></div>
			</div>

			<div id="wdb_email_div" class="projform" style="display: none;">
				<form name="project_email_form" id="project_email_form"><br>
				<fieldset>
					<legend>WD Billing Record</legend>
					<label>ID:</label>
					<div class="fields2"><span id="bug_id_email"></span></div><br class="clear">
					<label>Description:</label>
					<div class="fields2"><span id="descr_email"></span></div><br class="clear">
					<label for="sendto">Send to:</label>
					<div class="fields2"><input type="text" name="sendto" size="40"></div><br class="clear">
					<label for="cc">Send copy to (CC):</label>
					<div class="fields2"><input type="text" name="cc" size="40"></div><br class="clear">
					<label for="subject">Subject:</label>
					<div class="fields2"><input type="text" name="subject" size="40" value="bug_id - descr"></div><br class="clear">
					<label for="msg2">Message to add:</label>
					<div class="fields2"><textarea name="msg2" rows="3" cols="40" wrap="virtual"></textarea></div><br class="clear">
					<label>&nbsp;</label>
					<div class="fields2"><input type="submit" value="Send Bug Message"> <input type="reset"></div><br class="clear">
				</fieldset>
				</form>
				<div id="email_errors"></div>
			</div>

			<div id="wdb_admin">
				<div id="wdb_admin_head" class="projform" style="display: none;">
					Select Admin Section:
					<span id="wdb_admin_types">
						<select></select>
					</span>
				</div>

				<div id="wdb_lu_list" class="projform bugadmin" style="display: none;">
					<input type="button" id="wdb_admin_lu_add" value="Add Entry">
					<table id="wdb_lu_tbl" class="display" border="1" cellspacing="0" cellpadding="2">
						<thead>
						<tr>
						<th>Code</th>
						<th>Description</th>
						<th>Active</th>
						<th>&nbsp;</th>
						</tr>
						</thead>
					</table>
				</div>

				<div id="wdb_lu_form" class="projform bugadmin" style="display: none;">
					<fieldset>
						<legend>Lookup Add/Edit</legend>
						<form name="wdb_lu_form" id="wdb_lu_form_id">
						<table id="wdb_lu_tbl2" border="0" cellspacing="0" cellpadding="2">
						<tr><th align="right">Code</th><td><input type="text" name="cd" size="20"></td></tr>
						<tr><th align="right">Description</th><td><input type="text" name="descr" size="40" value=""></td></tr>
						<tr><th align="right">Active</th><td><label class="yesno"><input type="radio" name="active" value="y">Yes</label> <label class="yesno"><input type="radio" name="active" value="n">No</label></td></tr>
						</table>
						<input type="submit" value="Save">
						<input type="button" id="wdb_lu_save_cancel" value="Cancel">
						<input type="hidden" name="lu_type" value="">
						<input type="hidden" name="lu_action" value="add">
						</form>
					</fieldset>
					<div id="wdb_lu_errors"></div>
				</div>

				<div id="wdb_users_list" class="projform projadmin" style="display: none;">
					<input type="button" id="wdb_admin_users_add" value="Add User">
					<table id="wdb_user_tbl" class="display" border="1" cellspacing="0" cellpadding="2">
						<thead>
						<tr>
						<th>UID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Roles</th>
						<th>Act</th>
						<th>&nbsp;</th>
						</tr>
						</thead>
					</table>
				</div>

				<div id="wdb_users_form" class="projform projadmin" style="display: none;">
					<fieldset>
						<legend>User Add/Edit</legend>
						<form name="wdb_user_form" id="wdb_user_form_id">
						<table id="wdb_user_tbl2" border="0" cellspacing="0" cellpadding="2">
						<tr><th align="right">UID</th><td><input type="text" name="uid1" size="20"></td></tr>
						<tr><th align="right">Last Name</th><td><input type="text" name="lname" value=""></td></tr>
						<tr><th align="right">First Name</th><td><input type="text" name="fname" value=""></td></tr>
						<tr><th align="right">Email</th><td><input type="text" name="email" size="40" value=""></td></tr>
						<tr><th align="right">Password</th><td><input type="password" name="pw" value=""><input type="hidden" name="pw2" value=""></td></tr>
						<tr><th align="right">Active</th><td><label class="yesno"><input type="radio" name="active" value="y">Yes</label> <label class="yesno"><input type="radio" name="active" value="n">No</label></td></tr>
						<tr><th align="right">Roles</th><td><label class="yesno"><input type="radio" name="roles"   value="admin">Admin</label> <label class="yesno"><input type="radio" name="roles"  value="ro">RO</label> <label class="yesno"><input type="radio" name="roles"  value="user">User</label></td></tr>
						<tr><th align="right">Group</th><td><div id="wdb_groups"></div></td></tr>
						</table>
						<input type="submit" value="Save">
						<input type="button" id="wdb_user_save_cancel" value="Cancel">
						<input type="hidden" name="uid" value="">
						<input type="hidden" name="id" value="">
						</form>
					</fieldset>
					<div id="wdb_admin_errors"></div>
				</div>
			</div>

			<div id="projhelp_div" style="display: none;">
				<p>TBA - Some help info</p>
			</div>
			
			<br><br><div align="center"><address><span style="font-size: 11pt;">Copyright &copy;2016, WildDog Design</span></address></div>

		</div>

	</body>
</html>
